.utility-bar__grid {
  min-height: 60px;
  height: 100%;
}
.announcement-bar {
  min-height: 60px;
  height: 100%;
}

.announcement-bar-main .announcement-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Raleway-Normal";
  padding-bottom: 0;
  padding-top: 0;
  max-width: 100%;
  width: 100%;
  text-align: unset;
  gap: 5px;
}
.announcement-message .announcement-message-span {
  width: auto;
  font-size: 14px;
  font-family: "Raleway-Medium";
}

.announcement-message .announcement-bar__link {
  justify-content: unset;
  width: auto;
  text-decoration: underline;
  font-family: "Raleway-Bold";
  font-size: 14px;
}
.utility-bar__grid.page-width {
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (max-width: 1024px) {
  .announcement-message .announcement-message-span {
    width: auto;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .announcement-message .announcement-bar__link {
    font-size: 14px;
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .announcement-message .announcement-message-span {
    width: auto;
    font-size: 9px;
  }
  .announcement-message .announcement-bar__link {
    font-size: 9px;
    width: auto;
  }

  .utility-bar__grid,
  .announcement-bar {
    min-height: 24px;
    height: 100%;
  }
  .announcement-message {
    min-height: 24px;
    height: 100%;
  }
}
