.title-wrapper .collection-tabs-navigation .collection-tabs {
  list-style-type: none;
  font-size: 20px;
  font-family: "Raleway-Medium";
}
.collection-tabs-navigation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.hidden {
  display: none !important;
}
.visible {
  display: block !important;
}
.title-wrapper .collection-tabs-navigation .active {
  text-decoration: underline;
  text-underline-offset: 18px;
  text-decoration-thickness: 1px;
}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  display: block;
  top: 26%;
}
.product-card-information .star-rating-text-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.product-card-information .product-card-title-heading {
  font-size: 20px;
  font-family: "Raleway-Bold";
  padding-bottom: 10px;
}
.star-rating-text-image .show-text-below-product-title {
  font-size: 14px;
  font-family: "Raleway-Bold";
  margin: 0;
}
.price__container .price__sale .price-sale-text {
  font-size: 20px;
}
.price__container .price__sale .price-regular-text {
  font-size: 14px;
}
.card-information .quick-add .add-to-cart-button {
  max-width: 100%;
  width: 100%;
  height: 50px;
  border: none;
  font-family: "Raleway-Bold";
  font-size: 18px;
  border-radius: 5px;
}
.card-information .quick-add .add-to-cart-button::after {
  box-shadow: none;
}
.shopify-section .collection-main-section .title-wrapper .main-section-title {
  text-align: center;
  font-size: 32px;
  font-family: "Raleway-Bold";
  margin-bottom: 35px;
}
.no-overflow {
  overflow: hidden !important;
}
.swiper-slide {
  min-width: 20% !important;
}
.swiper-container .swiper-button-next {
  background-image: url("https://cdn.shopify.com/s/files/1/0899/1355/7281/files/Group_36.svg?v=1727792074");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 45px;
  height: 45px;
}
.swiper-container .swiper-button-prev {
  background-image: url("https://cdn.shopify.com/s/files/1/0899/1355/7281/files/Group_37.svg?v=1727792028");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 45px;
  height: 45px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: var(--black);
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 11px;
  height: 11px;
}
.swiper-container .swiper-pagination {
  transform: translateY(15px);
  z-index: 999;
}
.shopify-section .collection-main-section {
  padding-top: 70px;
  padding-bottom: 55px;
}
.swiper-container .swiper-wrapper {
  padding-bottom: 60px;
}
.collection-tabs-navigation .collection-tabs {
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .product-card-title-heading {
    height: 50px;
  }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .title-wrapper .collection-tabs-navigation .collection-tabs {
    font-size: 12px;
  }
  .title-wrapper .collection-tabs-navigation {
    padding-left: 0;
    gap: 15px;
  }
  .card-information .quick-add .add-to-cart-button {
    max-width: 100%;
    width: 100%;
    min-width: 50%;
  }
  .product-card-information .product-card-title-heading {
    font-size: 14px;
    height: 45px;
  }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    width: 35px;
    height: 35px;
  }
  .price__container .price__sale .price-sale-text,
  .card-information .quick-add .add-to-cart-button {
    font-size: 16px;
  }
  .shopify-section .collection-main-section .title-wrapper .main-section-title {
    font-size: 24px;
  }
}
