.page-section-custom {
  padding-right: 0;
  padding-left: 0;
}
.quantity-buttons-main .quantity-button-minus,
.quantity-buttons-main .quantity-button-plus {
  z-index: 1;
}
.product-text-logos {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-text-logos .post-text,
.product-text-logos .mid-text {
  font-size: 14px;
  font-family: "Raleway-Medium";
  width: 62px;
  height: 62px;
  border-radius: 30px;
  text-align: center;
  line-height: 15px;
  padding-top: 15px;
  word-spacing: 1px;
}
.featured-product-wrapper .featured-product .featured-product-info {
  padding-right: 0;
  padding-left: 30px;
}
.featured-product-info .product__title {
  font-size: 24px;
  font-family: "Raleway-Bold";
}
.rating-text-coffee .rating-star-text {
  font-size: 12px;
  font-family: "Raleway-Bold";
}
.featured-product .product__info-container .rating-text-coffee {
  margin-top: 8px;
  margin-bottom: 8px;
}
.price__sale .price-regular-text {
  font-size: 14px;
  font-family: "Raleway-Medium";
}
.price__sale .price-sale-text {
  font-size: 24px;
  font-family: "Raleway-Bold";
}

.featured-product-info .product__info-container .product-title-head {
  margin-top: 0px;
}
.featured-product-info .product__info-container .featured-product-description {
  font-size: 16px;
  font-family: "Raleway-Medium";
  border-bottom: 1px solid var(--light-white);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.featured-product-buttons {
  padding-top: 5px;
}
.featured-product-buttons .featured-product-submit-button {
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Raleway-Bold";
}
.buttons-main
  .form
  .featured-product-buttons
  .featured-product-submit-button::after {
  box-shadow: none;
}

.variants-main {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.featured-product-info
  .product__info-container
  .variants-main
  .custom-variants {
  max-width: 47%;
  min-width: 47%;
}
.custom-variants .variant-label {
  font-size: 16px;
  font-family: "Raleway-Bold";
}
.custom-variants .variant-selector .variant-select-options {
  font-size: 16px;
  font-family: "Raleway-Medium";
}

.quantity-button-custom-style .quantity-main {
  max-width: 20%;
  width: 100%;
}
.quantity-main .quantity-label {
  font-size: 16px;
  font-family: "Raleway-Bold";
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.checkbox-container .checkbox-label {
  font-size: 11px;
  font-family: "Medium_Raleway-Bold";
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1px;
}
.quantity-button-custom-style {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttons-checkbox {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.product--medium:not(.product--no-media) .product__media-wrapper,
.product--small:not(.product--no-media) .product__info-wrapper {
  max-width: 50% !important;
}
.product--medium:not(.product--no-media) .product__info-wrapper,
.product--small:not(.product--no-media) .product__media-wrapper {
  max-width: 50% !important;
}
.buttons-checkbox .buttons-main .product-form,
.product__info-container .variants-main {
  margin-bottom: 0;
}
.product__info-container .quantity-button-custom-style {
  margin-top: 0;
}
.viewer-slider-buttons {
  display: none;
}
.product-media-container-custom {
  border-radius: 15px;
}
.product__info-container .product__title > .product-link {
  display: block;
}
.product__info-container .product-title-head .product-link {
  text-decoration: none;
}
.product__info-container .product-title-head .product-link:hover {
  text-decoration: underline;
}
.product__info-container .product-price-template {
  margin: 0;
}
.featured-product .product-price-template + div:not([class]) {
  display: none;
}
.product__info-container .featured-product-description {
  margin-top: 10px;
}
/* @media screen and (max-width: 1024px) {
  .product--medium:not(.product--no-media) .product__media-wrapper,
  .product--small:not(.product--no-media) .product__info-wrapper {
    max-width: 50% !important;
  }
  .product--medium:not(.product--no-media) .product__info-wrapper,
  .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 50% !important;
  }
} */

@media screen and (max-width: 980px) {
  .variants-main {
    flex-direction: column;
    gap: 0;
  }
  .featured-product .product__info-container .variants-main .custom-variants {
    max-width: 100%;
    min-width: 100%;
  }
  .quantity-button-custom-style {
    flex-direction: column;
    gap: 0;
  }
  .product__info-container .quantity-button-custom-style .quantity-main {
    max-width: 100%;
  }
  .product__info-container
    .quantity-button-custom-style
    .quantity-main
    .quantity-buttons-main {
    max-width: 100%;
    width: 100%;
  }
  .product__info-container
    .featured-product-buttons
    .featured-product-submit-button {
    max-width: 100%;
    width: 100%;
  }
  .checkbox-container .checkbox-label {
    font-size: 11px;
  }
  .page-section-custom {
    padding: 10px;
  }
  .buttons-checkbox {
    width: 100%;
  }
  .buttons-checkbox .buttons-main .product-form {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .featured-product-wrapper .featured-product .featured-product-info {
    padding-left: 0;
  }
  .featured-product-info .product__title {
    font-size: 22px;
  }
  .product--medium:not(.product--no-media) .product__media-wrapper,
  .product--small:not(.product--no-media) .product__info-wrapper {
    max-width: 100% !important;
  }
  .product--medium:not(.product--no-media) .product__info-wrapper,
  .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 100% !important;
  }
  .checkbox-container .checkbox-label {
    font-size: 11px;
  }

  .product-form__buttons {
    max-width: 100%;
  }
}
