.product-text-logos {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-text-logos .post-text,
.product-text-logos .mid-text {
  font-size: 14px;
  font-family: "Raleway-Medium";
  width: 62px;
  height: 62px;
  border-radius: 30px;
  text-align: center;
  line-height: 15px;
  padding-top: 15px;
  word-spacing: 1px;
}

.product__info-container .main-product-heading-main {
  margin-top: 0px;
}
.main-product-heading-main .main-product-heading {
  font-size: 24px;
  font-family: "Raleway-Bold";
}
.price-sale-text-color {
  font-size: 24px;
}
.price-regular-text-color {
  font-size: 14px;
  font-family: "Raleway-Medium";
}

.product__info-container .rating-text-coffee {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin: 0;
}
.product__info-container .rating-text-coffee .rating-star-image {
  width: 15%;
  height: 60%;
}

.product .product-info-wrapper-custom {
  padding-left: 20px;
}
.rating-text-coffee .rating-star-text {
  font-size: 12px;
  font-family: "Raleway-Bold";
  margin: 0;
}

.product-info-wrapper-custom .product__info-container .product__description {
  font-size: 16px;
  font-family: "Raleway-Medium";
  border-bottom: 1px solid var(--light-white);
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.variants-main {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.variants-main .custom-variants {
  max-width: 47% !important;
  min-width: 47% !important;
}
.custom-variants .variant-label {
  font-size: 16px;
  font-family: "Raleway-Bold";
}
.custom-variants .variant-selector .variant-select-options {
  font-size: 16px;
  font-family: "Raleway-Medium";
}
.custom-variants .variant-selector {
  max-width: 100% !important;
}
.quantity-main {
  max-width: 20% !important;
  width: 100%;
}
.quantity-main .quantity-label {
  font-size: 16px;
  font-family: "Raleway-Bold";
}
.featured-product-buttons .featured-product-submit-button {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
}
.featured-product-buttons .featured-product-submit-button::after {
  box-shadow: none !important;
}
.quantity-button-custom-style {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.buttons-main {
  width: 100%;
}
.buttons-checkbox {
  max-width: 80%;
  width: 100%;
}
.about-box-main .about-heading {
  font-size: 16px;
  font-family: "Raleway-Bold";
}
.about-box-main .about-text {
  font-size: 16px;
  font-family: "Raleway-Medium";
}
.accordion-item .accordion-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.accordion-item {
  padding: 15px;
  cursor: pointer;
}
.accordion-name .accordion-button {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}
.accordion-name .accordion-button::after {
  box-shadow: none;
}
.accordion-name .accordion-title-text {
  font-size: 16px;
  font-family: "Raleway-Bold";
  margin: 0;
}
.accordion-name .accordion-button {
  font-size: 24px;
  font-family: "Raleway-Medium";
}
.accordion-content .accordion-content-text {
  font-family: "Raleway-Medium";
  font-size: 14px;
}
.main-product-section-main {
  margin-bottom: 30px;
}
.slider-button-next-custom,
.slider-button-prev-custom {
  display: none !important;
}
.thumbnail-slider .slider-button--next {
  background-image: url("https://cdn.shopify.com/s/files/1/0899/1355/7281/files/Group_36.svg?v=1727792074");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 45px !important;
  height: 45px !important;
  max-height: unset !important;
}
.viewer-slider-button.slider-button.slider-button--next[disabled],
.viewer-slider-button.slider-button.slider-button--prev[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.viewer-slider-button.slider-button.slider-button--prev {
  background-image: url("https://cdn.shopify.com/s/files/1/0899/1355/7281/files/Group_37.svg?v=1727792028");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 45px !important;
  height: 45px !important;
  max-height: unset !important;
}
.viewer-slider-buttons {
  position: absolute;
  top: 50%;
  width: calc(100% - 5px);
  transform: translateY(-50%);
  left: 3px;
  justify-content: space-between !important;
}
.product-media-container-custom {
  border-radius: 25px;
  margin: 0 !important;
  width: 100% !important;
}
.slider-mobile-gutter-custom {
  position: relative;
}
.custom-slider-counter {
  display: none !important;
}
.product__media-item {
  display: flex !important;
  width: 100% !important;
  max-width: 100% !important;
}
.product__modal-opener,
.product__media {
  height: 100%;
}
.product--small
  .thumbnail-list.slider--tablet-up
  .thumbnail-list__item.slider__slide {
  width: calc(25% - 3rem) !important;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.checkbox-container .checkbox-label {
  font-size: 10px;
  font-family: "Raleway-Medium-Bold";
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2px;
}
.product-media-custom {
  border-radius: 10px;
}
.product-form {
  margin-bottom: 0 !important;
}
.main-product-price-template + div:not([class]) {
  display: none !important;
}
.main-product-price-template {
  margin-top: 10px !important ;
  margin-bottom: 10px !important;
}
.main-product-description-text {
  margin-top: 0 !important;
}
.quantity-input-field .quantity-btn-product-plus,
.quantity-input-field .quantity-btn-product-minus {
  z-index: 1;
}
@media screen and (min-width: 990px) {
  .product.grid > * {
    max-width: 50% !important;
  }
}
@media screen and (max-width: 1024px) {
  .checkbox-container .checkbox-label {
    font-size: 9px;
  }
}
@media screen and (max-width: 980px) {
  .buttons-checkbox {
    max-width: 100%;
    width: 100%;
  }
  .variants-main {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0 !important;
  }
  .variants-main .custom-variants {
    max-width: 98% !important;
    min-width: 98% !important;
  }
  .quantity-button-custom-style {
    flex-direction: column;
    gap: 0px;
  }
  .quantity-main {
    max-width: 98% !important;
    width: 100%;
  }
  .quantity-input-field {
    width: 100%;
  }
  .featured-product-buttons .featured-product-submit-button {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .rating-text-coffee,
  .rating-text-coffee .rating-star-text {
    margin: 0 !important;
  }
  .main-product-heading-main {
    margin: 2px !important;
  }
  .accordion-content .accordion-content-text {
    font-size: 12px;
  }
  .slider-mobile-gutter {
    overflow: hidden;
  }
  .thumbnail-list__item.slider__slide {
    width: calc(16% - 0.6rem) !important;
  }
  .slider-mobile-gutter-custom,
  .thumbnail-slider-main {
    margin: 0 10px !important;
  }
  .main-product-heading-main {
    margin-bottom: 5px !important;
  }
  .product .product-info-wrapper-custom {
    padding-left: 0px;
  }
}
