.facet-container-custom .facets__wrapper .facets__heading,
.facet-container-custom .facets__wrapper .facets__disclosure,
.facet-container-custom .facets__wrapper .facets__summary,
.facet-container-custom .facet-filters__label,
.mobilep-facets-custom .mobile-facets__details,
.mobilep-facets-custom .select__select,
.facet-container-custom .facets__form .product-count .product-count__text {
  font-family: "Raleway-Normal";
  font-size: 18px;
}
.facet-container-custom .facet-filters__sort {
  font-family: "Raleway-Bold";
  font-size: 18px;
  border: 1px solid #c4d1d0;
  border-radius: 5px !important;
  padding: 10px;
}

.facet-container-custom .facets__form .product-count {
  align-self: center;
  font-family: "Raleway-Normal";
}

.facet-container-custom .facet-filters__sort:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.card-image-div .card__media .media {
  border-radius: 8px;
}

.facet-container-custom .svg-wrapper {
  right: 15px;
}

.facet-container .facets__form .product-count .product-count__text {
  font-family: "Raleway-Normal";
  font-size: 18px;
}

.collection-custom .add-to-cart-button {
  max-width: 100%;
  width: 100%;
  height: 50px;
  border: none !important;
  font-family: "Raleway-Bold";
  font-size: 18px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: var(--homepage-red);
  color: var(--white);
}

.pagination-wrapper-custom .pagination-arrow-prev {
  background-image: url(https://cdn.shopify.com/s/files/1/0899/1355/7281/files/Group_37.svg?v=1727792028);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 45px;
  height: 45px;
  max-height: unset !important;
}

.pagination-wrapper-custom .pagination-arrow-next {
  background-image: url(https://cdn.shopify.com/s/files/1/0899/1355/7281/files/Group_36.svg?v=1727792074);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  width: 45px;
  height: 45px;
  max-height: unset !important;
}
.collection-custom .add-to-cart-button::after,
.collection-custom .add-to-cart-button:hover:after {
  box-shadow: none;
}

.collection-custom .product-card-title-heading {
  font-size: 18px;
  font-family: "Raleway-Bold";
}

.collection-custom .star-rating-text-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.collection-custom .star-rating-text-image .show-text-below-product-title {
  margin: 0;
  font-size: 14px;
  text-decoration: underline;
  font-family: "Raleway-Bold";
}

.price__sale .price-sale-text {
  font-size: 20px;
  font-family: "Raleway-Bold";
}
.price__sale .price-regular-text {
  font-size: 14px;
  font-family: "Raleway-Bold";
}
.mobilep-facets-custom .mobile-facets__footer .mobile-facets__clear-wrapper {
  font-family: "Raleway-Medium";
  font-size: 16px;
  text-transform: capitalize;
}

.mobilep-facets-custom .mobile-facets__footer .button {
  background-color: var(--homepage-red);
  border-radius: 5px;
  font-family: "Raleway-Bold";
}

.mobilep-facets-custom .mobile-facets__footer .button::after {
  box-shadow: none;
}

.facet-container-custom .facets__summary-label {
  margin-right: 5px;
}
@media screen and (max-width: 1024px) {
  .collection-custom .product-card-title-heading {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
  .collection-custom .add-to-cart-button {
    font-size: 15px;
  }
}

@media screen and (max-width: 380px) {
  .collection-custom .product-card-title-heading {
    font-size: 13px;
  }
  .add-to-cart-button {
    padding: 0px;
    font-size: 12px;
  }
}
