.newsletter-title-text {
  font-family: "Raleway-Bold";
  font-size: 16px;
}
.email-field .newsletter-button-email {
  width: 100%;
  max-width: 30%;
  min-width: 35%;
  font-size: 16px;
  font-family: "Raleway-Bold";
  border-radius: 4px;
  text-transform: uppercase;
}

.newsletter-button-mobile {
  display: none;
}
.newslteter-heading {
  width: 680px;
  font-family: "Raleway-Bold";
  font-size: 32px;
}
.input-field-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.2s ease;
}
.field__input:focus + .field__label,
.field__input:not(:placeholder-shown) + .field__label {
  top: 30%;
}
.newsletter-wrapper-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter .newsletter-wrapper-main .newletter-form-main {
  max-width: 900px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.newsletter .newsletter-wrapper-main .newletter-form-main .newsletter-form {
  max-width: 80% !important;
  width: 100%;
}
.newsletter-wrapper-main .newletter-form-main .newsletter-field-wrapper {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  background-color: var(--gray);
  border-radius: 5px;
}
.newsletter-wrapper-main .newletter-form-main .newsletter-email-form,
.newsletter-wrapper-main
  .newletter-form-main
  .newsletter-email-form
  .newsletter-form__field-wrapper,
.field .field__input {
  width: 100%;
  max-width: 100%;
  min-width: 80%;
}
.email-label-placeholder-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.newsletter-form .newsletter-field-wrapper .email-field::after {
  box-shadow: none;
}
.subhead-text-one,
.subhead-text-two,
.subhead-text-three {
  font-size: 16px;
  font-family: "Raleway-Normal";
}
.subhead-text-two {
  font-family: "Raleway-Bold";
}
.newsletter-field-wrapper .email-field .email-input-main-field:focus {
  box-shadow: none;
}
@media screen and (max-width: 1280px) {
  .newsletter-wrapper-main .newletter-form-main {
    max-width: 77%;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* .newsletter-email-form,
  .newsletter-email-form .newsletter-form__field-wrapper,
  .field .field__input {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100%;
  } */
  .newslteter-heading {
    font-size: 26px;
  }
}

@media screen and (max-width: 980px) {
  /* .newslteter-heading {
    font-size: 18px;
    width: 260px;
  } */
}
@media screen and (max-width: 767px) {
  .newsletter .newsletter-wrapper-main .newletter-form-main .newsletter-form {
    max-width: 100% !important;
    width: 100%;
  }

  .newsletter-button-mobile {
    display: block;
  }
  .newslteter-heading {
    width: 260px;
    font-size: 18px;
  }
  .newsletter .newsletter-wrapper-main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .input-field-label {
    font-size: 12px;
    padding-top: 4px;
  }

  .email-field .newsletter-button-email {
    font-size: 14px;
    max-width: 40%;
  }
}
