.recommendation-main .recommendation-heading {
  font-size: 32px;
  font-family: "Raleway-Bold";
  text-align: center;
  margin-top: 30px;
}
.recommendation-gradient {
  padding-bottom: 20px;
}
.recommendation-product-card-grid {
  max-width: 25% !important;
}
.recommendation-product-grid-main {
  justify-content: start;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.card-image-div {
  max-width: 274px;
}

.card-image-div .card-image-inner {
  max-height: 280px;
}
.product-card-information .product-card-title-heading {
  font-size: 18px;
  font-family: "Raleway-Bold";
  height: 60px;
}
.price__sale .price-sale-text {
  font-size: 20px;
  font-family: "Raleway-Bold";
}
.price__sale .price-regular-text {
  font-size: 14px;
  font-family: "Raleway-Bold";
}
.star-rating-text-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.star-rating-text-image .show-text-below-product-title {
  margin: 0;
  font-size: 14px;
  text-decoration: underline;
  font-family: "Raleway-Bold";
}
.add-to-cart-button {
  max-width: 100%;
  width: 100%;
  height: 50px;
  border: none !important;
  font-family: "Raleway-Bold";
  font-size: 18px;
  border-radius: 5px;
  text-transform: uppercase;
}
.card-information .form .add-to-cart-button::after {
  box-shadow: none;
}
.recommendation-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .product-card-information .product-card-title-heading {
    font-size: 16px;
    height: 50px;
  }
}
@media screen and (max-width: 980px) {
  .recommendation-product-grid-main {
    flex-wrap: wrap;
    gap: 20px;
  }
  .recommendation-product-card-grid {
    max-width: 44% !important;
    width: 100%;
  }
  .product-card-information .product-card-title-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .recommendation-product-grid-main {
    gap: 12px;
  }
  .product-card-information .product-card-title-heading {
    font-size: 14px;
  }
  .add-to-cart-button {
    font-size: 16px;
  }
  .star-rating-text-image {
    margin-top: 0px;
  }
}
